
###> CUSTOM ###
public/uploads/images
/logs
###< CUSTOM ###
db/
.idea
docker-compose.override.yml
rabbitmq-persistence
course-messenger.pdf
rabbitmq
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
