/.idea

###

logs/*
bin/.phpunit
docker-compose.yml

###

bin/.phpunit
vendor
var
public_html/bundles/
public_html/uploads
.env
.env.*

.phpunit
.phpunit.result.cache
phpunit.xml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public_html/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
